<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    {% include "header.html" %}
</head>
<body>
<!-- Navigation-->
<nav>
    {% include "navi-bar.html" %}
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I’ve always had a deep curiosity for computers — not just how they work, but what they make possible.
                    For me, a computer isn’t just a machine; it’s a space to experiment, to learn, and to build things
                    that can actually help people.</p>
                <p>The more I explore this world, the more I realize there’s always something new to understand,
                    improve, or create. I don’t see myself ever being done with this journey.</p>
                <p>I want to keep learning, keep building, and keep pushing myself to create projects that are useful,
                    meaningful, and a little better than what I made before.</p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer>
    {% include "footer.html" %}
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
